*.vsidx
*.ipch
.vs/milkyway/FileContentIndex/read.lock
.vs/milkyway/v17/.suo
.vs/milkyway/v17/Browse.VC.db
Release/milkyway.Build.CppClean.log
Release/milkyway.exe.recipe
Release/milkyway.log
Release/milkyway.obj
Release/milkyway.tlog/CL.command.1.tlog
Release/milkyway.tlog/CL.read.1.tlog
Release/milkyway.tlog/CL.write.1.tlog
Release/milkyway.tlog/link.command.1.tlog
Release/milkyway.tlog/link.read.1.tlog
Release/milkyway.tlog/link.write.1.tlog
Release/milkyway.tlog/milkyway.lastbuildstate
Release/milkyway.vcxproj.FileListAbsolute.txt
