*.vsidx
*.ipch
.vs/milkyway/FileContentIndex/read.lock
.vs/milkyway/v17/.suo
.vs/milkyway/v17/Browse.VC.db
Release/milkyway.Build.CppClean.log
Release/milkyway.exe.recipe
Release/milkyway.log
Release/milkyway.obj
Release/milkyway.tlog/CL.command.1.tlog
Release/milkyway.tlog/CL.read.1.tlog
Release/milkyway.tlog/CL.write.1.tlog
Release/milkyway.tlog/link.command.1.tlog
Release/milkyway.tlog/link.read.1.tlog
Release/milkyway.tlog/link.write.1.tlog
Release/milkyway.tlog/milkyway.lastbuildstate
Release/milkyway.vcxproj.FileListAbsolute.txt
Release/milkyway.asm
.vs/milkyway/v17/Solution.VC.db
Extreme/milkyway.asm
Extreme/milkyway.exe
Extreme/milkyway.exe.recipe
Extreme/milkyway.log
Extreme/milkyway.obj
Extreme/milkyway.tlog/CL.command.1.tlog
Extreme/milkyway.tlog/CL.read.1.tlog
Extreme/milkyway.tlog/CL.write.1.tlog
Extreme/milkyway.tlog/link.command.1.tlog
Extreme/milkyway.tlog/link.read.1.tlog
Extreme/milkyway.tlog/link.write.1.tlog
Extreme/milkyway.tlog/milkyway.lastbuildstate
Extreme/milkyway.vcxproj.FileListAbsolute.txt
Extreme/milkyway.tlog/Cl.items.tlog
Release/milkyway.tlog/Cl.items.tlog
Release/std.compat.ixx.ifc.dt.d.json
Release/std.compat.ixx.ifc.dt.module.json
Release/std.compat.ixx.ifc.dt.module.json.command
Release/std.ixx.ifc.dt.d.json
Release/std.ixx.ifc.dt.module.json
Release/std.ixx.ifc.dt.module.json.command
Extreme/milkyway.Build.CppClean.log
Release/microsoft/STL/std.compat.ixx.ifc.dt.d.json
Release/microsoft/STL/std.compat.ixx.ifc.dt.module.json
Release/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
Release/microsoft/STL/std.ixx.ifc.dt.d.json
Release/microsoft/STL/std.ixx.ifc.dt.module.json
Release/microsoft/STL/std.ixx.ifc.dt.module.json.command
Extreme/microsoft/STL/std.compat.ixx.ifc.dt.module.json.command
Extreme/microsoft/STL/std.ixx.ifc.dt.module.json.command
